# Microsoft Stocks EDA

In [1]:
import pandas as pd                         # type: ignore
import pandas_datareader.data as web        # type: ignore
import matplotlib.pyplot as plt             # type: ignore
%matplotlib inline

from datetime import datetime as dt

## load data

In [2]:
df_ms = web.DataReader('MSFT', 'stooq')
len(df_ms), df_ms.columns

(1257, Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'))

In [3]:
df_ms.head()

               Open     High       Low   Close      Volume
Date
2024-07-26  418.200  428.915  417.2700  425.27  23583839.0
2024-07-25  428.800  429.800  417.5100  418.40  29943795.0
2024-07-24  440.450  441.480  427.5850  428.90  26805800.0
2024-07-23  443.895  448.390  443.1000  444.85  13107050.0
2024-07-22  441.790  444.600  438.9125  442.94  15808755.0

In [4]:
type(df_ms)

pandas.core.frame.DataFrame